@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

input:focus, button:focus {
  outline: #505050;
}

#app {
  display: flex;
  justify-content: center;
}

.form {
  margin: 40px 0 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid gray;
  border-radius: 12px;
}

.form-title {
  margin: 0;
  font: 700 20px "Inter"
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {}

.field-hint {
  margin: 4px 0 0;
  font: 12px "Inter"
}

.input {
  padding: 8px 12px;
  border: 2px solid gray;
  border-radius: 8px;
}

.input:hover {
  background-color: #fff;
}

.button {
  width: min-content;
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid gray;
  border-radius: 8px;
}